//colores
$colorVerde: green;
$colorBlanco: white;
$colorFormulario: #e6e3e34d;
$colorNegro: black;
$colorCrema: antiquewhite;


//fontSize

$small: 10px;
$medium: 20px;
$large: 30px;
$xLarge:40px;
$xxLarge:50px;

