.aBiografia{
    text-decoration: none;
    color: #fffefd;
}
.divBiografia{
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding: 20px;
}
.h1Biografia{
    color: white;
    padding: 25px;
    
}
.pBiografia{
    color: white;
    padding: 25px;
}

.bodyBiografia{
    background-image: url(../Imagenes/fondo-negro1.jpg);
}
