*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
.aIndex{
    text-decoration: none;
    color: $colorBlanco;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: end;
    li{ 
        list-style-type: none;
        color: $colorCrema;
        padding: 7px 13px;
        font-size: $medium;
        border-radius: 3px;
        text-transform: uppercase;
    }   
}
.bodyIndex{
    background-image: url(/Imagenes/Inicio.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
body{
    
    margin: 0px;
    text-decoration: none;
    font-family: 'Charis SIL', serif;
    font-family: 'Quicksand', sans-serif;  
}
section{
    color: $colorBlanco;
    @extend %display;
    height: 73vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    font-family: 'Charis SIL', serif;
    font-family: 'Quicksand', sans-serif; 
}
h1{    
    justify-content: center;
    align-items: center;    
}
.bIndex{
    list-style: none;
}
nav{
    background-color: rgba(241, 224, 202, 0.185);
    padding: $large;
    height: auto;   
}
.enlace{
    position: absolute;
    padding: 0px $large;
}
.logo{
    height: $xxLarge;
    width: $xxLarge;
}
footer{
    background-color: rgba(0, 0, 0, 0.639);
    color: $colorBlanco;
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    height: 11vh;
    ol{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 70%;
        justify-content: space-evenly;
        
    }
    .instagram{
        color: white;
        height: 100px;
        width: 100px;
    }
    ol li a{
        width: 20px;
        height: 20px;
    }
}