*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
.aIndex{
    text-decoration: none;
    color: $colorNegro;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: end;
    li{ 
        list-style-type: none;
        color: $colorCrema;
        padding: 7px 13px;
        font-size: $medium;
        border-radius: 3px;
        text-transform: uppercase;
    }
    li a.aIndex, li a:hover{
        background: #e6e3e34d;
        transition: .5s;
    }
}
body{
    background-image: url(../Imagenes/inicio.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    margin: 0px;
    font-family: 'Charis SIL', serif;
    font-family: 'Quicksand', sans-serif;  
}
section{
    color: $colorBlanco;
    @extend %display;
    align-content: center;
    flex-wrap: wrap;
    font-family: 'Charis SIL', serif;
    font-family: 'Quicksand', sans-serif; 
}
h1{    
    justify-content: center;
    align-items: center;    
}

nav{
    background-color: rgba(241, 224, 202, 0.185);
    padding: $large;
    height: 80px;   
}
.enlace{
    position: absolute;
    padding: 0px $large;
}
.logo{
    height: $xxLarge;
    width: $xxLarge;
}