/* LARGE SIZE */
@media(min-width: 750px) {
    .content {
        padding: 0 4em;
    }
    .contact-wrapper {
        display: grid;
        grid-template-columns: 2fr 2fr;
    }
    .contact-wrapper > * {
        padding: 1em;
    }
    .contact-info{
        text-align: left;
    }
    section{
        height: 77vh;
    }
}
@media (min-width:750px ) {

    .contenedorPortfolio{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 250px;
        padding: 10px;
        grid-gap: 5px;
    }
    .content{
        padding-top: 90px;
    }
    .galeriaPortfolio:nth-child(2){
        grid-column-start: span 1;
    }
    .galeriaPortfolio:nth-child(4){
        grid-column-start: span 1;
        grid-row-start: span 2;
    }
    .galeriaPortfolio:nth-child(7){
        grid-column-start: span 1;
        grid-row-start: span 1;
    }
    .galeriaPortfolio:nth-child(10){
       grid-row-start: span 2;
       grid-column-start: span 2;
    }  
    .galeriaPortfolio:nth-child(11){
        grid-column-start: span 1;
        grid-row-start: span 1;
    }
    .galeriaPortfolio:nth-child(13){
        grid-column-start: span 1;
        grid-row-start: span 2;
    }
    .galeriaPortfolio:nth-child(14){
        grid-column-start: span 1;
        grid-row-start: span 2;
    }
    .galeriaPortfolio:nth-child(16){
        grid-column-start: span 1;
        grid-row-start: span 2;
    }
    .galeriaPortfolio:nth-child(17){
        grid-column-start: span 1;
        grid-row-start: span 2;
    }
}
@media (max-width:750px) {
    
    .checkbtn {
        display: block;
        padding-bottom: 01px;
    }
    ul{ 
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2a2a2a;
        top: 80px;
        left:-100%;
        text-align: center;
        transition: all .5s;
        display: flex;
        flex-direction: column !important;
        justify-content: flex-start !important  ;
        align-items: center;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 20px;
    }
    nav ul li a{
        color: #f1f1f1;
        font-style: 20px;
        display: flex;        
    }
    li a:hover, li a.bIndex{
        background: none;
        color: rgba(218, 218, 218, 0.76);
    }
    #check:checked ~ ul{
        left: 0;
    } 
    .divContacto{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .divBiografia{
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }
    nav{
        height: 15vh;
    }
    section {
        height: 65vh;
    }
    ol{
        display: flex;
        flex-direction: column !important;
    }
    ol li{
        padding: 3px;
    }
    .fotoBiografia{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .h1Biografia{
        display: flex;
        justify-content: center;
        
    }
    .pBiografia{
        display: flex;
        justify-content: center;
        
    }
    .aBiografia{
        color: #f1f1f1;
    }
    .divPortfolio{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .pPortfolio{
        display: flex;
        justify-content: center;
        color: $colorBlanco !important;
    }
    .galeriaImgPortfolio{
        padding: 10px; 
     }
    .h1Portfolio{
        display: flex;
        justify-content: center;
    }
    .aPortfolio{
        color: #f1f1f1;
    }
    .contact-wrapper{
        display: flex;
        flex-direction: column;
        margin: 25px;
    }
    .contact-form form {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .contact-form form label {
        display: block;
    }

    .contact-form form p {
        margin: 0;
        padding: 1em;
    }
    footer{
        background-color: rgba(0, 0, 0, 0.639);
        color: $colorBlanco;
        display: flex;
        text-align: center;
        justify-content: space-around;
        align-items: center;
        flex-wrap: nowrap;
        height: 20vh;
        flex-direction: column;
    }
}
@media (min-width:1024px){
    .contenedorPortfolio{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 250px;
        padding: 20px;
        grid-gap: 10px;
    }
    section{
        height: 74vh;
    }
    .fotoBiografia{
        width: 50%;
    }
    .galeriaImgPortfolio{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .galeriaPortfolio:nth-child(2){
        grid-column-start: span 2;
        
    }
    .galeriaPortfolio:nth-child(10){
        grid-column-start: span 2;
        grid-row-start: span 2;
    }
    .galeriaPortfolio:nth-child(4){
        grid-column-start: span 2;
        grid-row-start: span 2;
    }
    .galeriaPortfolio:nth-child(13){
        grid-row-start: span 2;
    }
    .galeriaPortfolio:nth-child(14){
        grid-row-start: span 2;
    }
    .galeriaPortfolio:nth-child(16){
        grid-row-start: span 2;
    }
    .galeriaPortfolio:nth-child(17){
        grid-column-start: span 1;
        grid-row-start: span 1;
    }
    .divBiografia{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contact-wrapper {
        display: flex;
        flex-direction: column;
        margin: 25px;
        padding: 50px;
        box-shadow: none;
    }
    footer{
        footer{
            background-color: rgba(0, 0, 0, 0.639);
            color: $colorBlanco;
            display: flex;
            text-align: center;
            justify-content: space-around;
            align-items: center;
            flex-wrap: nowrap;
            height: 10vh;
            flex-direction: column;
        }
    }
}
@media (max-width:1024px) {
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }   
    
}
