
.bodyPortfolio{
    background-image: url(../Imagenes/portfolio-2.jpg);
    .aPortfolio{
        text-decoration: none;
        color: $colorBlanco;
    }
    .divPortfolio{
        display: flex;
        flex-direction: column;
        justify-content: end;
        padding: $medium;
        .h1Portfolio{
            padding: $medium;
        }
        .pPortfolio{
            padding: $medium;
            color: $colorNegro;
        }
    }  
}
