
.bodyPortfolio{
    background-image: white ;
    
    
   
    .divPortfolio{
        @extend %display;
        justify-content: end;
        padding: $medium;
        .h1Portfolio{
            padding: $medium;
        }
        .pPortfolio{
            padding: $medium;
            color: $colorNegro;
        }
    }  
}
.aPortfolio{
    text-decoration: none;
    color: $colorNegro;
}
/*estilos de las imagenes*/
.galeriaImgPortfolio{
    width: 100%;
    height: 100%;
    object-fit: cover;
}